.bg-grey{
  width: 100%;
  background-color: #f5f5f8;
.container{
    // background-color: aqua;
    padding: 40px 0;
    .our-services{
        text-align: center;
        .services-h2{
            padding-top: 60px;
        }
        .services-p{
          color: #ccc;
          font-size: 20px;  
          margin: 40px 0;
        }
    }
  .services-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
        .servic{
            width: 250px;
            height: 250px;
            h3{
              font-weight: 200;
              font-size: 18px;
            }
            p{
              font-size: 13px;
              color: #575657;
            }

            @media screen and (max-width:991px){
              width: 350px;
            height: 350px;
            }
        }
  }  
}

}